<nav class="navbar navbar-inverse container-fluid navbar-fixed-top gitlab" role="navigation">
    <!--<nav class="navbar navbar-inverse container-fluid navbar-static-top gitlab" role="navigation">-->
        <div class="navbar-header">
            <div class="navbar-header-sidebar">
                <a class="navbar-brand" href="#/home">
                    <img class="logo" alt="cc"
                         src="http://clearcode.cc/wp-content/themes/clearcode.cc/assets/img/icons/cc_logo_black.png">
                </a>
                <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <a href="https://gitlab.com/odolhado/plate/blob/mastercc/README.md">
                        ngPlate
                        <i class="fa fa-github-alt sidebar-expanded"></i>
                        <!--v<%= version %>-->
                    </a>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse " ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a href ui-sref="home">
                        <i class="fa fa-home sidebar-expanded"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li dropdown ui-sref-active="active">
                    <a ui-sref="ui" dropdown-toggle>
                        <i class="glyphicon glyphicon-star sidebar-expanded"></i>
                        <span>AngularUI</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li ui-sref-active="active">
                            <a ui-sref="ui.dash">
                                Dashboard
                                <i class="fa fa-dashboard pull-right"></i>
                                <!--<i class="glyphicon glyphicon-certificate pull-right"></i>-->
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="ui.icon">
                                Icons
                                <i class="glyphicon glyphicon-glass pull-right"></i>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="ui.pagination">
                                Pagination
                                <i class="glyphicon glyphicon-resize-horizontal pull-right"></i>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="ui.tooltip">
                                Tooltip
                                <i class="glyphicon glyphicon-tags pull-right"></i>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a href ui-sref="ui.tab">
                                Tabs
                                <i class="glyphicon glyphicon-indent-left pull-right"></i>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a href ui-sref="ui.timepicker">
                                 Timepicker
                                <i class="glyphicon glyphicon-indent-left pull-right"></i>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a href ui-sref="ui.button">
                                Buttons
                                <i class="glyphicon glyphicon-indent-left pull-right"></i>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a href ui-sref="ui.datepicker">
                                Datepicker
                                <i class="glyphicon glyphicon-indent-left pull-right"></i>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a href ui-sref="ui.table">
                                Tables
                                <i class="glyphicon glyphicon-indent-left pull-right"></i>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a href ui-sref="ui.toggle">
                                Toggle
                                <i class="glyphicon glyphicon-resize-horizontal pull-right"></i>
                            </a>
                        </li>
                        <li class="divider" role="presentation"></li>
                        <li><a href="http://angular-ui.github.com/bootstrap">About</a></li>
                    </ul>
                </li>
                <li ui-sref-active="active">
                    <a href ui-sref="contact">
                        <i class="glyphicon glyphicon-user sidebar-expanded"></i>
                        <span>Contact</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a href ui-sref="high">
                        <i class="glyphicon glyphicon-stats "></i>
                        <span> Highcharts </span>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right container-fluid">
                <!--//LOGIN-->
                <li ui-sref-active="active">
                    <a href ui-sref="login">
                        <i class="glyphicon glyphicon-off sidebar-expanded"></i>
                        <span>Login</span>
                    </a>
                </li>
                <li dropdown>
                    <a href="#/prefs" dropdown-toggle>
                        <i class="glyphicon glyphicon-cog sidebar-expanded"></i>
                        Advanced
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li ui-sref-active="active">
                            <a ui-sref="pref">Preferences
                                <i class="glyphicon  glyphicon-wrench pull-right"></i>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="nesting">Nest
                                <i class="glyphicon glyphicon-tree-conifer pull-right"></i>
                            </a>
                        </li>
                        <li ui-sref-active="active"><a ui-sref="contact">Contact <i
                                class="glyphicon glyphicon-user pull-right"></i></a></li>
                        <li class="divider" role="presentation"></li>
                        <li ui-sref-active="active">
                            <a ui-sref="signout">Sign out
                                <i class="glyphicon glyphicon-off pull-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>