
<footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <ul class="social">
                <li><a target="_blank" href="http://gplus.to/joshdmiller"><i class="fa fa-google-plus-sign"></i></a>
                </li>
                <li><a target="_blank" href="http://twitter.com/joshdmiller"><i class="fa fa-twitter-sign"></i></a></li>
                <li><a target="_blank" href="http://linkedin.com/in/joshdmiller"><i class="fa fa-linkedin-sign"></i></a>
                </li>
                <li><a target="_blank" href="http://github.com/ngbp/ngbp"><i class="fa fa-github-sign"></i></a></li>
            </ul>
            <p>
                (c) 2015 <a href="http://www.piotrszumera.com">Piotr Szumera</a>.
                <a href="http://github.com/ngbp/ngbp/fork_select">Fork this</a>
                to kickstart your next project.
                <br/>
                plate is fork of ngBoilerplate and is based of
                <a href="http://www.angularjs.org">AngularJS</a>,
                <a href="http://getbootstrap.com">Bootstrap</a>,
                <a href="http://angular-ui.github.com/bootstrap">UI Bootstrap</a>,
                <a href="http://fortawesome.github.com/Font-Awesome">Font Awesome</a>
                and
                <a href="http://www.highcharts.com/">Highcharts</a>.
            </p>
        </div>
    </div>
</footer>