<footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <p>
                (c) 2015. Alternative footer
            </p>
        </div>
    </div>
</footer>