    <div class="container">
        <h1 class="page-header">
            AngularUI - Dashboard
            <small>AngularJS combined with Twitter-Bootstrap.</small>
        </h1>
        <p>
            <code>ng-boilerplate</code> some text here
        </p>
    </div>


