<div ng-controller="Tab2Ctrl">
    <h1 class="page-header">Tabs
        <small>(ui.bootstrap.tabs)</small>
    </h1>
    <p>Select a tab by setting active binding to true:</p>

    <p>
        <button class="btn btn-default btn-sm" ng-click="tabs[0].active = true">Select second tab</button>
        <button class="btn btn-default btn-sm" ng-click="tabs[1].active = true">Select third tab</button>
    </p>
    <p>
        <button class="btn btn-default btn-sm" ng-click="tabs[1].disabled = ! tabs[1].disabled">Enable / Disable third
            tab
        </button>
    </p>
    <hr/>

    <tabset>
        <tab heading="Static title">Static content</tab>
        <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
            {{tab.content}}
        </tab>
        <tab select="alertMe()">
            <tab-heading>
                <i class="glyphicon glyphicon-bell"></i> Alert!
            </tab-heading>
            I've got an HTML heading, and a select callback. Pretty cool!
        </tab>
    </tabset>

    <hr/>

    <tabset vertical="true" type="pills">
        <tab heading="Vertical 1">Vertical content 1</tab>
        <tab heading="Vertical 2">Vertical content 2</tab>
    </tabset>

    <hr/>

    <tabset justified="true">
        <tab heading="Justified">Justified content</tab>
        <tab heading="SJ">Short Labeled Justified content</tab>
        <tab heading="Long Justified">Long Labeled Justified content</tab>
    </tabset>
</div>

<h2 class="page-header">TabCtrl</h2>
<div ng-controller='TabCtrl'>
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            <li ng-class="getTabClass(1)" ng-click="setActiveTab(1)"><a href="#deal" data-toggle="tab">XXX</a></li>
            <li ng-class="getTabClass(2)" ng-click="setActiveTab(2)"><a href="#bond" data-toggle="tab">XXX</a></li>
            <li ng-class="getTabClass(3)" ng-click="setActiveTab(3)"><a href="#collateral" data-toggle="tab">XXXX</a>
            </li>
            <li ng-class="getTabClass(4)" ng-click="setActiveTab(4)"><a href="#rating" data-toggle="tab">XXX</a></li>
        </ul>
    </div>
</div>
<br/>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav ">
                <li ui-sref-active="active">
                    <a href ui-sref="ui.tab">
                        Tabs6
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a href="#">
                        OOOOOOO
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Dropdown </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
        </ul>

        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="btn-group" dropdown>
    <button type="button" class="btn btn-default">Action</button>
    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
        <span class="caret"></span>
        <span class="sr-only"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#">OOO</a></li>
        <li><a href="#">OOO </a></li>
        <li><a href="#">OOO </a></li>
        <li class="divider"></li>
        <li><a href="#">OOO </a></li>
    </ul>
</div>
<div class="btn-group" dropdown is-open="status.isopen">
    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
        Button2 <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#">OOO</a></li>
        <li><a href="#">OOO</a></li>
    </ul>
</div>

<div class="btn-group" dropdown>
    <button type="button" class="btn btn-default">1</button>
    <button type="button" class="btn btn-success">2</button>
    <button type="button" class="btn btn-warning dropdown-toggle" dropdown-toggle>
        OOO <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a>OOO</a></li>
        <li><a>OOO </a></li>
    </ul>
</div>
<hr/>
<div class="btn-group" dropdown>
    <button type="button" class="btn btn-default">1</button>
    <button type="button" class="btn btn-default">2</button>
    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
        Action <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">OOO</a></li>
        <li class="divider"></li>
        <li><a href="#">OOO</a></li>
    </ul>
</div>
<hr/>

<ul class="nav navbar-nav">
    <li dropdown>
        <a href="#" dropdown-toggle>
            <i class="glyphicon glyphicon-cog"></i> OOO <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a>OOO</a></li>
            <li class="divider"></li>
            <li><a>OOO </a></li>
        </ul>
    </li>
</ul>


<br/>
<br/>

<nav class="navbar navbar-default">
    <ul class="nav ">
        <li ui-sref-active="active">
            <a href ui-sref="home">
                XXX0
            </a>
        </li>
        <li ui-sref-active="active">
            <a href ui-sref="ui.tab">
                XXX00
            </a>
        </li>
    </ul>
</nav>

<ul class="nav nav-pills nav-stacked">
    <li ui-sref-active="active"><a ui-sref="home">home 3!!! </a></li>
    <li ui-sref-active="active"><a ui-sref="ui.tab">Tabs !!! </a></li>
    <li ui-sref-active="active"><a ui-sref="ui.pagination">pag !!! </a></li>
    <li ui-sref-active="active"><a ui-sref="ui.tab4">Tabs4 !!! </a></li>
</ul>

<br/>
<nav class="navbar navbar-default">
    <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active">
            <a href ui-sref="home">
                XXX1
            </a>
        </li>
        <li ui-sref-active="active">
            <a href ui-sref="ui.tab">
                XXX2
            </a>
        </li>
    </ul>
</nav>
<br/>
<nav class="navbar navbar-inverse ">
    <ul class="nav navbar-link ">
        <li>
            <a href="#/home">
                home 1
            </a>
        </li>
        <li ui-sref-active="active">
            <a href ui-sref="ui.tab">
                Tabs7
            </a>
        </li>
    </ul>
</nav>

<br/>
<div class="navbar navbar-default panel panel-default">
    <ul class="list-group">
        <a ui-sref="ui.pagination">
            <li class="list-group-item" ui-sref-active="active">
                XXXXX
                <i class="glyphicon glyphicon-resize-horizontal pull-right"></i>
            </li>
        </a>
        <a class="list-group-item" ui-sref="ui.tab">
            <li ui-sref-active="active">
                XXXXX
                <i class="glyphicon glyphicon-resize-horizontal pull-right"></i>
            </li>
        </a>
        <li class="list-group-item" ui-sref-active="active">
            <a ui-sref="ui.tab">
                XXXXX
                <i class="glyphicon glyphicon-tags pull-right"></i>
            </a>
        </li>

    </ul>
</div>

<hr/>

<ul class="nav nav-tabs">
    <li ui-sref-active="active"><a ui-sref="home">home 4!!! </a></li>
    <li ui-sref-active="active"><a ui-sref="ui.tab">Tabs !!! </a></li>
    <li ui-sref-active="active"><a ui-sref="ui.pagination">pag !!! </a></li>
    <li ui-sref-active="active"><a ui-sref="ui.tab4">Tabs4 !!! </a></li>
</ul>
