<div class="container">
    <h1 class="page-header">
        Highcharts JS
        <small>examples of Highcharts.js</small>
    </h1>
    <p>
        Some text about this view
    </p>

    <div class="">
        <div class="fieldGroup col-md-12">
            <div class="" ng-controller='chartController'>
                <!--<input type="radio" name="radioButton" ng-model="choice" ng-click="changeChart()"> Monthly-->
                <div class="col-md-12" id="chartContainer"
                     style="width: 100%; height: 300px; border-radius: 6px; margin: auto">
                </div>
            </div>
        </div>
    </div>
    <br/>

    <div class="fieldGroup col-md-12">
        <div class="" ng-controller='chart2Controller'>
            <div class="col-md-12" id="chart2Container"
                 style="width: 100%; height: 300px; border-radius: 6px; margin: auto">
            </div>
        </div>
    </div>

    <br/>

    <div class="fieldGroup col-md-12">
        <div class="" ng-controller='chart3Controller'>
            <div class="col-md-12" id="chart3Container"
                 style="width: 100%; height: 300px; border-radius: 6px; margin: auto">
            </div>
        </div>
    </div>
    <br/>

    <div class="fieldGroup col-md-12">
        <div class="" ng-controller='chart4Controller'>
            <div class="col-md-12" id="chart4Container"
                 style="width: 100%; height: 300px; border-radius: 6px; margin: auto">
            </div>
        </div>
    </div>
</div>