<div ng-controller="ToggleCtrl">
    <h1 class="page-header">Toggle and Sidebar
        <small>(ng-click, ng-show, ng-class)</small>
    </h1>

    <style>
        .red {
            background: orange;
        }
    </style>
    <div>
        <h3>
            #1 Show Directive
            <small>ng-click ng-show</small>
        </h3>
        <p>
            <a ng-click="toggle()">toggle</a>
        </p>
            <div class="alert alert-warning" ng-show="isVisible">
                Hi
            </div>
    </div>

    <div>
        <h3>#2 Toggle class
            <small>ng-class</small>
        </h3>
        <br/>
        <span id='1' ng-class='{"alert alert-success":tog==1}' ng-click='tog=1'>success</span>
        <br/>
        <br/>
        <span id='2' ng-class='{"alert alert-info":tog==2}' ng-click='tog=2'>info <span class="alert-link">link</span></span>
        <!--<span id='1' ng-class='{"red":tog==1}' ng-click='tog=1'>click for</span>-->
        <!--<br/><span id='2' ng-class='{"red":tog==2}' ng-click='tog=2'>orange background</span>-->
    </div>

    <div ng-controller="BtnCtrl">
        <h3>#3 Toggle
            <small>ng-click</small>
        </h3>
        <button class="btn btn-default" ng-click="changeClass()">Change Class</button>
        <div ng-class="class">{{name}}</div>
    </div>

</div>
