
<div ng-controller="TooltipDemoCtrl">
    <h1 class="page-header">
        Tooltip
        <small>(ui.bootstrap.tooltip)</small>
    </h1>
    <p>
    <div class="form-group">
        <label>Dynamic Tooltip Text</label>
        <input type="text" ng-model="dynamicTooltipText" class="form-control">
    </div>
    <div class="form-group">
        <label>Dynamic Tooltip Popup Text</label>
        <input type="text" ng-model="dynamicTooltip" class="form-control">
    </div>
    <p>
        Pellentesque <a href="#" tooltip="{{dynamicTooltip}}">{{dynamicTooltipText}}</a>,
        sit amet venenatis urna cursus eget nunc scelerisque viverra mauris, in
        aliquam. Tincidunt lobortis feugiat vivamus at
        <a href="#" tooltip-placement="left" tooltip="On the Left!">left</a> eget
        arcu dictum varius duis at consectetur lorem. Vitae elementum curabitur
        <a href="#" tooltip-placement="right" tooltip="On the Right!">right</a>
        nunc sed velit dignissim sodales ut eu sem integer vitae. Turpis egestas
        <a href="#" tooltip-placement="bottom" tooltip="On the Bottom!">bottom</a>
        pharetra convallis posuere morbi leo urna,
        <a href="#" tooltip-animation="false" tooltip="I don't fade. :-(">fading</a>
        at elementum eu, facilisis sed odio morbi quis commodo odio. In cursus
        <a href="#" tooltip-popup-delay='1000' tooltip='appears with delay'>delayed</a> turpis massa tincidunt dui ut.
    </p>



    <p>
        I can even contain HTML. <a href="#" tooltip-html-unsafe="{{htmlTooltip}}">Check me out!</a>
    </p>

    <form role="form">
        <div class="form-group">
            <label>Or use custom triggers, like focus: </label>
            <input type="text" value="Click me!" tooltip="See? Now click away..."  tooltip-trigger="focus" tooltip-placement="right" class="form-control" />
        </div>
    </form>
</div>


<div ng-controller="TypeaheadCtrl">
<!--<div class='container-fluid' ng-controller="TypeaheadCtrl">-->
    <script type="text/ng-template" id="customTemplate.html">
    <a>
    <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    </a>
    </script>
    <h1 class="page-header">
        Typehead
        <small>(ui.bootstrap.typehead)</small>
    </h1>

    <h4>Static arrays</h4>
    <pre>Model: {{selected | json}}</pre>
    <input type="text" ng-model="selected" typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control">

    <h4>Asynchronous results</h4>
    <pre>Model: {{asyncSelected | json}}</pre>
    <input type="text" ng-model="asyncSelected" placeholder="Locations loaded via $http" typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" class="form-control">
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

    <h4>Custom templates for results</h4>
    <pre>Model: {{customSelected | json}}</pre>
    <input type="text" ng-model="customSelected" placeholder="Custom template" typeahead="state as state.name for state in statesWithFlags | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html" class="form-control">
</div>

<br/>
<div ng-controller="PopoverDemoCtrl">
    <h1 class="page-header">Popover
        <small>(ui.bootstrap.popover)</small>
    </h1>
    <p class="lead">
        Some text here
    </p>
    <h4>Dynamic</h4>
    <div class="form-group">
        <label>Popup Text:</label>
        <input type="text" ng-model="dynamicPopover" class="form-control">
    </div>
    <div class="form-group">
        <label>Popup Title:</label>
        <input type="text" ng-model="dynamicPopoverTitle" class="form-control">
    </div>
    <button popover="{{dynamicPopover}}" popover-title="{{dynamicPopoverTitle}}" class="btn btn-default">Dynamic Popover</button>

    <hr />
    <h4>Positional</h4>
    <button popover-placement="top" popover="On the Top!" class="btn btn-default">Top</button>
    <button popover-placement="left" popover="On the Left!" class="btn btn-default">Left</button>
    <button popover-placement="right" popover="On the Right!" class="btn btn-default">Right</button>
    <button popover-placement="bottom" popover="On the Bottom!" class="btn btn-default">Bottom</button>

    <hr />
    <h4>Triggers</h4>
    <p>
        <button popover="I appeared on mouse enter!" popover-trigger="mouseenter" class="btn btn-default">Mouseenter</button>
    </p>
    <input type="text" value="Click me!" popover="I appeared on focus! Click away and I'll vanish..."  popover-trigger="focus" class="form-control">

    <hr />
    <h4>Other</h4>
    <button Popover-animation="true" popover="I fade in and out!" class="btn btn-default">fading</button>
    <button popover="I have a title!" popover-title="The title." class="btn btn-default">title</button>
</div>


<button type="button" ng-really-message="Are you sure?"
        ng-really-click="delete()">Delete</button>


<br/><br/>

<ul class="list-group">
    <li class="list-group-item">
        <span class="badge">14</span>
        Cras justo odio
    </li>
</ul>

<br/><br/>


