<div class="container">
    <h1 class="page-header">
        Login
        <small>this is Login view.</small>
    </h1>

    <form data-ng-controller='efController' class="form-horizontal" name="employeeForm" novalidate role="form">
        <fieldset>
            <legend>Basic Information</legend>
            <div class="form-group" data-show-errors>
                <label for="fullName" class="col-sm-3 control-label">Name</label>

                <div class="col-sm-9">
                    <input type="text" id="fullName" name="fullName" class="form-control"
                           data-ng-model="editableEmployee.fullName" data-ng-required="true"
                           data-ng-pattern="/^A/"/>
                <span class="help-block"
                      data-ng-if="employeeForm.fullName.$error.required">Full Name is required</span>
                <span class="help-block"
                      data-ng-if="employeeForm.fullName.$error.pattern">Full Name must start with A</span>
                </div>
            </div>
            <div class="form-group" data-show-errors>
                <label for="email" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-9">
                    <input type="email" id="email" name="email" class="form-control"
                           data-ng-model="editableEmployee.email" data-ng-required="true"/>
                <span class="help-block"
                      data-ng-if="employeeForm.email.$error">A valid email is required</span>
                </div>
            </div>
            <div class="form-group">
                <label for="notes" class="col-sm-3 control-label">Notes</label>
                <div class="col-sm-9">
                    <textarea name="notes" id="notes" class="form-control" rows="5" cols="40"
                              data-ng-model="editableEmployee.notes"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="department" class="col-sm-3 control-label">Department</label>
                <div class="col-sm-9">
                    <select name="department" id="department" class="form-control"
                            data-ng-model="editableEmployee.department"
                            data-ng-options="dept for dept in departments"></select>
                </div>
            </div>

        </fieldset>
        <br/>

        <fieldset>
            <legend>Payroll Type</legend>
            <div class="form-group">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-9">

                    <div class="radio">
                        <label>
                            <input type="radio" name="payrollType" value="w2"
                                   data-ng-model="editableEmployee.payrollType"/> W-2
                        </label><br/>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="payrollType" value="ten99"
                                   data-ng-model="editableEmployee.payrollType"/> 1099
                        </label><br/>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="payrollType" value="none"
                                   data-ng-model="editableEmployee.payrollType"/> None
                        </label><br/>
                    </div>
                    <br/>

                </div>
            </div>
        </fieldset>

        <div class="col-sm-offset-3 col-sm-9">
            <input type="button" class="btn btn-default" value="Cancel" ng-click="cancelForm()"/>
            <input type="submit" class="btn btn-primary" value="Submit" ng-click="submitForm()"/>
            <input type="reset" class="btn btn-warning" value="Reset" ng-click="resetForm()"/>
        </div>

    </form>

    <hr/>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
    </div>
    <br/>

    <div class="input-group">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
        <span class="input-group-addon" id="basic-addon2">@example.com</span>
    </div>
    <hr/>
    <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
        <span class="input-group-addon">.00</span>
    </div>

    <br/>

    <input type="button" class="btn btn-primary" value="Add New Employee"
           ng-click="showCreateEmployeeForm()"/>
    <br/>
    <br/>
    <input type="button" class="btn btn-primary" value="Update Employee Id: 123"
           ng-click="showUpdateEmployeeForm(123)"/>

    <!--<h1 class="page-header">Form <small>ui.bootstrap.form | ngMessage</small></h1>-->
</div>