<div class="container">
    <!--<h1 class="page-header">-->
        <!--Contact \ Library-->
        <!--<small>nice to meet You.</small>-->
    <!--</h1>-->

    <div data-ng-controller="FormCtrl">
        <form name="bookForm" class="form-horizontal" >

            <h3>Create new book:</h3>
            <fieldset>
                <!--<div class="form-group" data-show-errors>-->
                    <!--<label for="fullName2" class="col-sm-3 control-label">Name</label>-->
                    <!--<div class="col-sm-9">-->
                        <!--<input type="text" id="fullName2" name="fullName" class="form-control"-->
                               <!--data-ng-model="editableEmployee.fullName" data-ng-required="true"-->
                               <!--data-ng-pattern="/^A/"/>-->
                    <!--<span class="help-block"-->
                          <!--data-ng-if="employeeForm.fullName.$error.required">Full Name is required</span>-->
                    <!--<span class="help-block"-->
                          <!--data-ng-if="employeeForm.fullName.$error.pattern">Full Name must start with A</span>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="form-group ">
                    <label for="title"  class="col-sm-3 control-label">Title</label>
                    <div class="col-sm-9">
                        <input id="title" type="text" class="form-control" data-ng-model="newBook.title"/>
                    </div>
                </div>
                <div class="form-group ">
                    <label for="page"  class="col-sm-3 control-label">Pages</label>
                    <div class="col-sm-9">
                        <input id="page" type="number" class="form-control" data-ng-model="newBook.pages"/>
                    </div>
                </div>
                <div class="form-group ">
                    <label for="description" class="col-sm-3 control-label"> Description</label>
                    <div class="col-sm-9">
                        <textarea id="description" class="text textarea form-control" data-ng-model="newBook.description"> </textarea>
                    </div>
                </div>
            </fieldset>
            <div class="col-sm-offset-3 col-sm-9">
                <button class="btn btn-default btn-sm" ng-click="save(newBook, newBook.$index, $index)">Save</button>
                <input type="button" class="btn btn-sm btn-default" value="Cancel" ng-click="cancelForm()"/>
            </div>
        </form>

        <h3>Available books:</h3>
        <table class="table table-hover" style="vertical-align: center;">
            <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Title</th>
                <th>Pages</th>
                <th>Description</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="book in books" data-ng-disabled="true" ng-class="{disabled: true}">
                <td>{{ $index + 1 }}</td>
                <td>{{book.id}}</td>
                <td>{{book.title}}</td>
                <td>{{book.pages}}</td>
                <td>{{book.description}}</td>
                <td>
                    <button data-ng-disabled="book.buttonRemoveDisabled" class="btn btn-default btn-sm pull-right"
                            data-ng-click="remove($index, book.id, true)">
                        Remove
                    </button>
                    <!--<button data-ng-hide="book.buttonRemoveDisabled" class="btn btn-default btn-sm pull-right" data-ng-click="remove($index, book.id, true)">-->
                    <!--Remove-->
                    <!--</button>-->
                </td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-default" ng-click="read()">Refresh</button>
        <button class="btn btn-default " ng-click="readRest()">ReadByRest</button>

        <form  class=" form-horizontal" name="employeeForm" novalidate role="form">
            <fieldset>
                <legend>Login module</legend>
                <div class="form-group" data-show-errors>
                    <label for="fullName" class="col-sm-3 control-label">Name</label>

                    <div class="col-sm-9">
                        <input type="text" id="fullName" name="fullName" class="form-control"
                               data-ng-model="editableEmployee.fullName" data-ng-required="true"
                               data-ng-pattern="/^A/"/>
                    <span class="help-block"
                          data-ng-if="employeeForm.fullName.$error.required">Full Name is required</span>
                    <span class="help-block"
                          data-ng-if="employeeForm.fullName.$error.pattern">Full Name must start with A</span>
                    </div>
                </div>
                <div class="form-group" data-show-errors>
                    <label for="email" class="col-sm-3 control-label">Email</label>

                    <div class="col-sm-9">
                        <input type="email" id="email" name="email" class="form-control"
                               data-ng-model="editableEmployee.email" data-ng-required="true"/>
                        <span class="help-block" data-ng-if="employeeForm.email.$error">A valid email is required</span>
                    </div>
                </div>
            </fieldset>
            <div class="col-sm-offset-3 col-sm-9">
                <input type="button" class="btn btn-default" value="Cancel" ng-click="cancelForm()"/>
                <input type="submit" class="btn btn-primary" value="Submit" ng-click="submitForm()"/>
                <input type="reset" class="btn btn-warning" value="Reset" ng-click="resetForm()"/>
            </div>
        </form>



        <!--<h3>Users:</h3>-->
        <!--<table class="table table-hover">-->
            <!--<th>Nr</th>-->
            <!--<th>Name</th>-->
            <!--<th>Age</th>-->
            <!--<tr data-ng-repeat="user in users">-->
                <!--<td>{{ $index + 1 }}</td>-->
                <!--<td data-title="'Name'">{{user.name}}</td>-->
                <!--<td data-title="'Age'">{{user.age}}</td>-->
            <!--</tr>-->
        <!--</table>-->
        <!--<br/>-->

        <h1 class="page-header">CORS backend request
            <small>example</small>
        </h1>
        <div data-ng-controller="ContactExtraCtrl">
            <h3>backend url: {{extra.backendUrl}}/hi </h3>
            <hr/>
            <p>extra.data: {{extra.data}}</p>
            <p>extra.simple: {{extra.simple}}</p>
            <p>extra.data.additional: {{extra.additional}}</p>
            <p>extra.world: {{extra.world}}</p>
            <hr/>
            <p>extra: {{extra}}</p>

            <!--<p>data: {{extra.data}}</p>-->
            <!--<p>success: {{extra.success}}</p>-->
            <!--<p>headers: {{extra.headers}}</p>-->
            <!--<p>status: {{extra.status}}</p>-->

            <br/>

            <!--<p>The content is {{backend}}</p>-->
            <!--<p>The request finished with: {{success}}</p>-->
            <!--<p>The request finished with: {{backend.success}}</p>-->
            <!--<p>The request finished with(2): {{backend.success2}}</p>-->
            <!--<p>The request finished with(3): {{success2}}</p>-->
            <!--<p>status: {{backend.status}}</p>-->
            <!--<p>headers: {{backend.headers}}</p>-->
            <!--<p>config: {{backend.config}}</p>-->
        </div>

        <div data-ng-controller="ContactCtrl">
            <h1 class="page-header">CORS request
                <small>example</small>
            </h1>
            <h4>Asking server http://rest-service.guides.spring.io/greeting </h4>
            <p>With angular $http.get service.method</p>
            <div >
                <p>The ID is {{greeting.id}}</p>
                <p>The content is {{greeting.content}}</p>
            </div>
        </div>

    </div>

</div>