zend_extension=xdebug.so
xdebug.max_nesting_level = 250
xdebug.remote_enable = 1
xdebug.idekey = "vagrant"
xdebug.remote_host = "{{ host_ip }}"
xdebug.remote_port = 9000
xdebug.remote_handler = "dbgp"
xdebug.profiler_enable = 0
xdebug.profiler_enable_trigger = 1
xdebug.overload_var_dump = 1
