/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */
/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */
@import '../../vendor/bootstrap/less/bootstrap.less';
/**
 * This is our main variables file. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */
@import 'variables.less';

/**
 * Typography
 */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/Roboto-Regular.woff) format('woff');
}

@expendedwidth: 230px;
@collapsed: 50px;

@mainColor: rgb(85, 85, 85);
@actionColor: #eee;
@tabBackground: #24272d;
@borderColor: #e7e7e7;

html {
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;
}

code, pre, .pre {
  padding: 5px;
  margin: 10px 0;
  background-color: #EFEFEF;
  border: 1px solid #DADADA;
  border-radius: 3px;
}

code {
  padding: 0 3px;
}

pre {
  margin: 10px 0;
  padding: 5px;
}

#application {
  padding-top: 50px;
}

.content-wrapper {
  padding: 20px;
}
.container-wrapper {
  margin-left: 20px;
}
.page-header {
  margin-top: 60px;

  &:first-child {
    margin-top: 20px;
  }
}

.logo {
  margin-top: -10px;
}

.clearBoth {
  clear: both;
}

.navbar {
  small {
    font-size: 60%;
  }
}

.footer {
  margin-top: 80px;

  .footer-inner {
    padding: 40px 0;
    border-top: 1px solid #DDD;
  }

  .social {
    float: right;
    margin: 0;
    list-style: none;
    li {
      float: left;
      margin-left: 20px;

      a, a:visited {
        color: @gray-light;
        text-decoration: none;
        font-size: 40px;
        .transition(250ms ease-in-out);

        &:hover {
          color: @gray;
        }
      }
    }
  }
}

.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}

.navbar-inverse a.navbar-brand {
  width: 71px;
}

.navbar-header {
  //  width: @expendedwidth;
}

.navbar-header-sidebar {
//  width: @expendedwidth;
}

.navbar-inverse {
  border: transparent;
  //  background-image: url('bg-d.png') !important;
  background-color: #474d57;
  //  background-image: url('bg_header.png');
  //  background-repeat: repeat;
  //  background-size: 2.0em;
  //  background-color: transparent;
}

//.tooltip.bottom .tooltip-arrow {
//  top: 0;
//  left: 50%;
//  margin-left: -5px;
//  border-bottom-color: red; /* black */
//  border-width: 0 5px 5px;
//}
//.tooltip.right .tooltip-arrow{
//  top:50%;
//  left:1px;
//  margin-top:-5px;
//  border-top:5px solid transparent;
//  border-bottom:5px solid transparent;
//  border-right:5px solid #000
//}
.tooltip.right .tooltip-arrow{
//  left:1px;
}

.sidebar {
  //  background-image: url('bg_content.png')!important;
  background-color: #f8f8f8;
  border-right: 1px solid @borderColor;
  position: fixed;
  clear: both;
  padding-top: 50px;
  top: 0;
  left: 0;
  height: 100%;

  li a span {
    margin-left: 23px;
  }
  a {
    color: @mainColor;
  }
  button {
    background: none;
    border: none;
    border-left: 1px solid @borderColor;
    width: (@collapsed - 1);
    height: inherit;

    &:focus {
      outline: 0;
    }
    &:hover {
      background: #eee;
    }
  }

  > .nav-pills > li {
    margin-top: 0;
  }

  > .nav-pills > li > a {
    border-radius: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    &:hover{
//      background: @tabBackground;
//      color: #fefefe;
    }
  }

  > .nav-pills {
    > li.active {
      > a, >a:hover, > a:focus {

        border-right: 1px transparent;
//        border-left: 3px solid @tabBackground;
        border-left: 3px solid #474d57;
        border-top: 1px solid @borderColor;
        border-bottom: 1px solid @borderColor;

        background-color: #ffffff;
        color: @tabBackground;
        font-weight: bold;

        margin: -1px -1px -1px 0;
        padding-left: 12px;

      }
    }
  }

}

.sidebar-expanded {
  width: @expendedwidth;

  i {
    padding-left: 2px;
  }
}

.main-sidebar-expanded {
  margin-left: @expendedwidth;
}

.sidebar-collapsed {
  width: @collapsed;

  li a {
    text-align: center !important;
  }
  span {
    display: none;
  }
}

.navbar-nav > li > .dropdown-menu {
  margin-top: -1px;
}

.main-sidebar-collapsed {
  margin-left: @collapsed;
//  padding-left: @collapsed + 20;
}

i.sidebar-expanded {
  display: none;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #24272d;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #24272d;
}

// Gitlab styles:
.navbar-inverse .navbar-nav > li > a {
  color: #979da7;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ui-notification{
  margin-top: 50px;
//  top: 150px!important;
}
//make-row(@gutter: @grid-gutter-width) {
//  // Then clear the floated columns
//    .clearfix();
//
//  @media (min-width: @screen-sm-min) {
//    margin-left:  (@gutter / -2);
//    margin-right: (@gutter / -2);
//  }
//
//  // Negative margin nested rows out to align the content of columns
//  .row {
//    margin-left:  (@gutter / -2);
//    margin-right: (@gutter / -2);
//  }
//}

table tr > td {
  vertical-align: middle!important;
}

/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using.
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */

@import '../app/home/home.less';


