<div ng-controller="TimepickerCtrl">
    <h1 class="page-header">
        Timepicker
        <small>(ui.bootstrap.timepicker)</small>
    </h1>
    <timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep"
                show-meridian="ismeridian"></timepicker>

    <pre class="alert alert-info">Time is: {{mytime | date:'shortTime' }}</pre>

    <div class="row">
        <div class="col-xs-6">
            Hours step is:
            <select class="form-control" ng-model="hstep" ng-options="opt for opt in options.hstep"></select>
        </div>
        <div class="col-xs-6">
            Minutes step is:
            <select class="form-control" ng-model="mstep" ng-options="opt for opt in options.mstep"></select>
        </div>
    </div>

    <hr>

    <button class="btn btn-info" ng-click="toggleMode()">12H / 24H</button>
    <button class="btn btn-default" ng-click="update()">Set to 14:00</button>
    <button class="btn btn-danger" ng-click="clear()">Clear</button>
</div>
