<div ng-controller="SidebarCtrl">
    <div ng-class="sidebarClass">
        <div class="" style="border-bottom: 1px solid #e7e7e7; text-align:right">
            <div style="height:39px;">
                <button ng-click="changeClass()">
                    <i ng-class="arrowDirectionClass"></i>

                </button>
            </div>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li ui-sref-active="active">
                <a ui-sref="ui.dash">
                    <i class="fa fa-dashboard"></i>
                    <span> Dashboard </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="ui.icon">
                    <i class="glyphicon glyphicon-glass "></i>
                    <span> Icons </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="ui.pagination">
                    <i class="glyphicon glyphicon-resize-horizontal "></i>
                    <span> Pagination </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="ui.tooltip">
                    <i class="glyphicon glyphicon-tags "></i>
                    <span> Tooltip </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href ui-sref="ui.tab">
                    <i class="glyphicon glyphicon-indent-left"></i>
                    <span> Tabs </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href ui-sref="ui.timepicker">
                    <i class="glyphicon glyphicon-indent-left"></i>
                    <span> Timepicker  </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href ui-sref="ui.button">
                    <i class="glyphicon glyphicon-indent-left"></i>
                    <span> Buttons </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href ui-sref="ui.datepicker">
                    <i class="glyphicon glyphicon-indent-left"></i>
                    <span> Datepicker </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href ui-sref="ui.table">
                    <i class="glyphicon glyphicon-indent-left"></i>
                    <span> Tables </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a href ui-sref="ui.toggle">
                    <i class="glyphicon glyphicon-resize-horizontal"></i>
                    <span> Toggle </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="clearBoth"></div>
    <div class="container">
        <!--// Breadcrumbs -->
        <!--<div ncy-breadcrumb></div>-->

        <!--// Main view-->
        <div  ng-class="mainClass" ui-view></div>
    </div>

</div>









