<div class="container content-wrapper"><!--// Breadcrumbs -->
    <div ncy-breadcrumb ></div>

    <h1> Nesting views
        <small>The only formating(margin) in this view, is made by container class for each partial</small>
    </h1>

    <h4>
        <a href="#/nesting/child">Next child</a>
    </h4>

    <div ui-view></div>
</div>