

<div class="container-wrapper">

    <h1>Second child
        <small>this is nested child partial view.</small>
    </h1>
    <h4>
        <a href="#/nesting/child/child/child">Next child</a>
    </h4>
    <div ui-view></div>

</div>

