<!DOCTYPE html>
<html data-ng-app="ngBoilerplate" data-ng-controller="AppCtrl">
<head>
    <title data-ng-bind="pageTitle"></title>

    <link rel="icon" href="http://clearcode.cc/wp-content/themes/clearcode.cc/assets/img/icons/favicon.ico"
          type="image/x-icon">

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@joshdmiller">
    <meta name="twitter:title" content="ngBoilerplate">
    <meta name="twitter:description"
          content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
    <meta name="twitter:creator" content="@joshdmiller">
    <meta name="twitter:image:src"
          content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="ngBoilerplate"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://bit.ly/ngBoilerplate"/>
    <meta property="og:image"
          content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846"/>
    <meta property="og:description"
          content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <!--<script type="text/javascript" src="https://apis.google.com/js/plusone.js">-->
        <!--{-->
            <!--"parsetags"-->
        <!--:-->
            <!--"explicit"-->
        <!--}-->
    <!--</script>-->
</head>
<body id="application">


<div data-ui-view="header@root"></div>

<!--<div class="content-wrapper" ui-view="main@root" style=""></div>-->
<div class="" data-ui-view="main@root" style=""></div>

<div data-ui-view="footer@root"></div>

<!--&lt;!&ndash; Piwik &ndash;&gt;-->
<!--<script type="text/javascript">-->
    <!--var _paq = _paq || [];-->
    <!--_paq.push(['trackPageView']);-->
    <!--_paq.push(['enableLinkTracking']);-->
    <!--(function () {-->
        <!--var u = "//localhost/piwik/";-->
        <!--_paq.push(['setTrackerUrl', u + 'piwik.php']);-->
        <!--_paq.push(['setSiteId', 1]);-->
        <!--var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];-->
        <!--g.type = 'text/javascript';-->
        <!--g.async = true;-->
        <!--g.defer = true;-->
        <!--g.src = u + 'piwik.js';-->
        <!--s.parentNode.insertBefore(g, s);-->
    <!--})();-->
<!--</script>-->
<!--<noscript><p><img src="//localhost/piwik/piwik.php?idsite=1" style="border:0;" alt=""/></p></noscript>-->
<!--&lt;!&ndash; End Piwik Code &ndash;&gt;-->
</body>
</html>
