<div class="container">
    <div>
        <h1 class="page-header">Home
            <small>Application build with AngularJS and combined with Twitter-Bootstrap.</small>
        </h1>
        <p class="lead">
            Some text here
        </p>
    </div>


    <h1 class="page-header">
        So What's Included?
        <small>I'll try to be more specific than "awesomeness".</small>
    </h1>
    <p>
        This section is just a quick introduction to all the junk that comes
        pre-packaged with <code>ng-plate</code>. For information on how to
        use it, see the <a
            href="https://github.com/joshdmiller/ng-boilerplate#readme">project page</a> at
        GitHub.
    </p>

    <p>
        Oh, and don't include jQuery;
        you don't need it.
        This is better.
        Don't be one of those people. <sup>*</sup>
    </p>

    <p>
        <small><sup>*</sup> Yes, there are exceptions.</small>
    </p>

    <h2 class="page-heading">Font Awesome</h2>

    <p>
        There is not a single image on this site. All of the little images and icons
        are drawn through Font Awesome! All it takes is a little class:
    </p>

    <pre>&lt;i class="fa fa-flag"&gt;&lt/i&gt</pre>

    <p>
        And you get one of these: <i class="fa fa-flag"> </i>. Neat!
    </p>

    <h2>Placeholders</h2>

    <p>
        Angular Placeholders is a simple library for mocking up text and images. You
        can automatically throw around some "lorem ipsum" text:
    </p>

    <pre>&lt;p ph-txt="3s"&gt;&lt;/p&gt;</pre>

    <p>
        Which gives you this:
    </p>

    <div class="pre">
        &lt;p&gt;
        <p ph-txt="3s"></p>
        &lt;/p&gt;
    </div>

    <p>
        Even more exciting, you can also create placeholder images, entirely
        client-side! For example, this:
    </p>

<pre>
&lt;img ph-img="50x50" /&gt;
&lt;img ph-img="50x50" class="img-polaroid" /&gt;
&lt;img ph-img="50x50" class="img-rounded" /&gt;
&lt;img ph-img="50x50" class="img-circle" /&gt;</pre>

    <p>
        Gives you this:
    </p>

    <div>
        <img ph-img="50x50"/>
        <img ph-img="50x50" class="img-polaroid"/>
        <img ph-img="50x50" class="img-rounded"/>
        <img ph-img="50x50" class="img-circle"/>
    </div>

    <p>
        <code>ng-plate</code> should include end-to-end tests. This should
        happen soon. I just haven't had the time.
    </p></div>