<div ng-controller="AccordionDemoCtrl">
    <h1 class="page-header">
        Accordion
        <small>(ui.bootstrap.accordion)</small>
    </h1>
    <p>
        <button class="btn btn-default btn-sm" ng-click="status.open = !status.open">Toggle last panel</button>
        <button class="btn btn-default btn-sm" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">Enable /
            Disable first panel
        </button>
    </p>

    <label class="checkbox">
        <input type="checkbox" ng-model="oneAtATime">
        Open only one at a time
    </label>
    <accordion close-others="oneAtATime">
        <accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen"
                         is-disabled="status.isFirstDisabled">
            This content is straight in the template.
        </accordion-group>
        <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
            {{group.content}}
        </accordion-group>
        <accordion-group heading="Dynamic Body Content">
            <p>The body of the accordion group grows to fit the contents</p>
            <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
            <div ng-repeat="item in items">{{item}}</div>
        </accordion-group>
        <accordion-group is-open="status.open">
            <accordion-heading>
                I can have markup, too! <i class="pull-right glyphicon"
                                           ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </accordion-heading>
            This is just some content to illustrate fancy headings.
        </accordion-group>
    </accordion>
</div>

<br/>

<div ng-controller="AlertDemoCtrl">
    <h1 class="page-header">
        Alert
        <small>(ui.bootstrap.alert)</small>
    </h1>
    <p>
        text about usage of this component
    </p>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <button class='btn btn-default' ng-click="addAlert()">Add Alert</button>
</div>

<br/>

<div class="panel panel-info">
    <div class="panel-heading">
        MENU
    </div>
    <div class="panel-body">
        <nav ng-controller="NestedMenuCtrl">
            <div menu="menu"></div>
        </nav>
    </div>
</div>

<div ng-controller="ButtonsCtrl">
    <h1 class="page-header">
        Buttons
        <small>(ui.bootstrap.buttons)</small>
    </h1>
    <p>
        text about usage of this component
    </p>
    <h4>Single toggle</h4>
    <pre>{{singleModel}}</pre>
    <button type="button" class="btn btn-primary" ng-model="singleModel" btn-checkbox btn-checkbox-true="1"
            btn-checkbox-false="0">
        Single Toggle
    </button>
    <h4>Checkbox</h4>
    <pre>{{checkModel}}</pre>
    <div class="btn-group">
        <label class="btn btn-primary" ng-model="checkModel.left" btn-checkbox>Left</label>
        <label class="btn btn-primary" ng-model="checkModel.middle" btn-checkbox>Middle</label>
        <label class="btn btn-primary" ng-model="checkModel.right" btn-checkbox>Right</label>
    </div>
    <h4>Radio &amp; Uncheckable Radio</h4>
    <pre>{{radioModel || 'null'}}</pre>
    <div class="btn-group">
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Left'">Left</label>
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Middle'">Middle</label>
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Right'">Right</label>
    </div>
    <div class="btn-group">
        <label class="btn btn-success" ng-model="radioModel" btn-radio="'Left'" uncheckable>Left</label>
        <label class="btn btn-success" ng-model="radioModel" btn-radio="'Middle'" uncheckable>Middle</label>
        <label class="btn btn-success" ng-model="radioModel" btn-radio="'Right'" uncheckable>Right</label>
    </div>
</div>

<br/>

<div ng-controller="CarouselDemoCtrl">
    <h1 class="page-header">
        Carousel
        <small>(ui.bootstrap.carousel)</small>
    </h1>
    <p>
        text about usage of this component
    </p>

    <div style="height: 305px">
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">

                <div class="carousel-caption">
                    <h4>Slide {{$index}}</h4>

                    <p>{{slide.text}}</p>
                </div>
            </slide>
        </carousel>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
        </div>
        <div class="col-md-6">
            Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
            <br/>Enter a negative number or 0 to stop the interval.
        </div>
    </div>
</div>

<br>

<div ng-controller="CollapseDemoCtrl">
    <h1 class="page-header">
        Collapse
        <small>(ui.bootstrap.collapse)</small>
    </h1>
    <p>
        text about usage of this component
    </p>
    <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Toggle collapse</button>
    <hr>
    <div collapse="isCollapsed">
        <div class="well well-lg">Some content</div>
    </div>
</div>

<br><br><br>

<h2>Dropdown</h2>

<div ng-controller="DropdownCtrl">
    <!-- Simple dropdown -->
    <span class="dropdown" dropdown on-toggle="toggled(open)">
      <a href class="dropdown-toggle" dropdown-toggle>
          Click me for a dropdown, yo!
      </a>
      <ul class="dropdown-menu">
          <li ng-repeat="choice in items">
              <a href>{{choice}}</a>
          </li>
      </ul>
    </span>
    <!-- Single button -->
    <div class="btn-group" dropdown is-open="status.isopen">
        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
            Button dropdown <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>
    <!-- Split button -->
    <div class="btn-group" dropdown>
        <button type="button" class="btn btn-danger">Action</button>
        <button type="button" class="btn btn-danger dropdown-toggle" dropdown-toggle>
            <span class="caret"></span>
            <span class="sr-only">Split button!</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>
    <hr/>
    <p>
        <button type="button" class="btn btn-default btn-sm" ng-click="toggleDropdown($event)">Toggle button
            dropdown
        </button>
        <button type="button" class="btn btn-warning btn-sm" ng-click="disabled = !disabled">Enable/Disable</button>
    </p>
</div>

<h3>Dropdown
    <small>bootstrap2</small>
</h3>
<div ng-controller="DropdownCtrl">
    <li class="dropdown">
        <a class="dropdown-toggle">My Dropdown Menu1</a>
        <ul class="dropdown-menu">
            <li ng-repeat="choice in items">
                <a ng-href="#about"> {{choice}}</a>
            </li>
            <li class="divider"></li>
            <li>
                <a ng-href="#home">#1#</a>
            </li>
            <li>
                <a ng-href="#dash">#2#</a>
            </li>
            <li>
                <a ng-href="#sth">#3#</a>
            </li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </li>
    <div class="btn-group" dropdown>
        <a class="btn btn-success dropdown-toggle">AAA 3 <span class="caret"></span></a>

        <ul class="dropdown-menu">
            <li ng-repeat="choice in items">
                <a ng-href="#about"> {{choice}}</a>
            </li>
            <li>
                <a ng-href="#home">#1#</a>
            </li>
            <li>
                <a ng-href="#dash">#2#</a>
            </li>
            <li>
                <a ng-href="#sth">#3#</a>
            </li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>

    <div class="btn-group" dropdown>
        <button type="button" class="btn btn-success">ActionSuccess</button>
        <!--<a class="btn btn-danger dropdown-toggle">AAA Action3 </a>-->
        <a class="btn btn-danger dropdown-toggle">
            <span class="caret"></span>
            <span class="sr-only">Split button!</span>
        </a>
        <ul class="dropdown-menu">
            <li ng-repeat="choice in items">
                <a ng-href="#about"> {{choice}}</a>
            </li>
            <li>
                <a ng-href="#home">#1#</a>
            </li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>
</div>
<form class="form" name="form" novalidate>
    <div class="btn-group" dropdown is-open="status.isopen">
        <button type="button"
                class="btn btn-primary dropdown-toggle"
                ng-disabled="disabled">
            Button dropdown <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="#">Action</a>
            </li>
            <li>
                <a href="#">Another action</a>
            </li>
            <li>
                <a href="#">Something else here</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">Separated link</a>
            </li>
        </ul>
    </div>
</form>

<br/><br/>

<div ng-controller="ProgressDemoCtrl">
    <h1 class="page-header">Progressbar
        <small>(ui.bootstrap.progressbar)</small>
    </h1>

    <h3>Static</h3>

    <div class="row">
        <div class="col-sm-4">
            <progressbar value="55"></progressbar>
        </div>
        <div class="col-sm-4">
            <progressbar class="progress-striped" value="22" type="warning">22%</progressbar>
        </div>
        <div class="col-sm-4">
            <progressbar class="progress-striped active" max="200" value="166" type="danger"><i>166 / 200</i>
            </progressbar>
        </div>
    </div>

    <hr/>
    <h3>Dynamic
        <button class="btn btn-sm btn-primary" type="button" ng-click="random()">Randomize</button>
    </h3>
    <progressbar max="max" value="dynamic"><span
            style="color:black; white-space:nowrap;">{{dynamic}} / {{max}}</span></progressbar>

    <small><em>No animation</em></small>
    <progressbar animate="false" value="dynamic" type="success"><b>{{dynamic}}%</b></progressbar>

    <small><em>Object (changes type based on value)</em></small>
    <progressbar class="progress-striped active" value="dynamic" type="{{type}}">{{type}} <i ng-show="showWarning">!!!
        Watch out !!!</i></progressbar>

    <hr/>
    <h3>Stacked
        <button class="btn btn-sm btn-primary" type="button" ng-click="randomStacked()">Randomize</button>
    </h3>
    <progress>
        <bar ng-repeat="bar in stacked track by $index" value="bar.value" type="{{bar.type}}"><span
                ng-hide="bar.value < 5">{{bar.value}}%</span></bar>
    </progress>

</div>

<br/><br/>

<div ng-controller="RatingDemoCtrl">
    <h1 class="page-header">Rating
        <small>(ui.bootstrap.rating)</small>
    </h1>
    <p class="lead">
        lead here
    </p>
    <h4>Default</h4>
    <rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)"
            on-leave="overStar = null"></rating>
        <span class="label"
              ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
              ng-show="overStar && !isReadonly">{{percent}}%</span>

        <pre style="margin:15px 0;">Rate: <b>{{rate}}</b> - Readonly is: <i>{{isReadonly}}</i> - Hovering over: <b>{{overStar
            || "none"}}</b></pre>

    <button class="btn btn-sm btn-danger" ng-click="rate = 0" ng-disabled="isReadonly">Clear</button>
    <button class="btn btn-sm btn-default" ng-click="isReadonly = ! isReadonly">Toggle Readonly</button>
    <hr/>

    <h4>Custom icons</h4>

    <div ng-init="x = 5">
        <rating ng-model="x" max="15" state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'"></rating>
        <b>(<i>Rate:</i> {{x}})</b></div>
    <div ng-init="y = 2">
        <rating ng-model="y" rating-states="ratingStates"></rating>
        <b>(<i>Rate:</i> {{y}})</b></div>
</div>

<br><br>

<h2>Modal</h2>

<div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button class="btn btn-default" ng-click="open()">Open me!</button>
    <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
    <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
</div>

